@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
    width: 100%;
    height: 100%;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
